pool:
  name: Saliyan

trigger: none

stages:
# ------------------- BUILD / PLAN -------------------
- stage: Build
  displayName: Build stage

  jobs:
  - job: Terraform
    displayName: Terraform Install & Run
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTaskV4@4
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
        backendServiceArm: 'slc'
        backendAzureRmResourceGroupName: 'rgs'
        backendAzureRmStorageAccountName: 'stg'
        backendAzureRmContainerName: 'container'
        backendAzureRmKey: 'dev.tfstate'

    - task: TerraformTaskV4@4
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)'
        environmentServiceNameAzureRM: 'slc'


- stage: Deploy
  displayName: Deploy
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  jobs: 
  - job: ManualValidation
    displayName: Manual Validation kardo Please
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'sk74564@gmail.com'
        approvers: 'sk74564@gmail.com'
        instructions: 'Plan check karle pagli...'

- stage:  ValidateandApply
  displayName: 'Apply & Validate'
  jobs:
    - job: Terraforminit
      displayName: init
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(System.DefaultWorkingDirectory)'
          backendServiceArm: 'slc'
          backendAzureRmResourceGroupName: 'rgs'
          backendAzureRmStorageAccountName: 'stg'
          backendAzureRmContainerName: 'container'
          backendAzureRmKey: 'dev.tfstate'
 
    - job: Terraformvalidate
      displayName: validate
      steps:
      - task: TerraformTaskV4@4
        inputs:
          provider: 'azurerm'
          command: 'validate'










