trigger:
- main
- feature/*

pool: new_agent


steps:
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    backendServiceArm: 'saurabh pipeline service connection'
    backendAzureRmResourceGroupName: 'pipelinerg20'
    backendAzureRmStorageAccountName: 'pipelinestg20'
    backendAzureRmContainerName: 'pipelinecontainer20'
    backendAzureRmKey: 'dev.terraform.tfstate'

- task: TerraformTask@5
  displayName: terraform plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)/saurabh_alok'
    environmentServiceNameAzureRM: 'saurabh pipeline service connection'