pool: Saliyan

trigger: none

stages:
   - stage: 
     displayName: Build stage
     jobs:
       - job: 
         displayName: terraform install
         steps:
         - task: TerraformInstaller@1
           inputs:
             terraformVersion: 'latest'

