trigger:
- main
- feature/*

pool: new_agent

steps:

# ---- Install Terraform ----
- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

# ---- Terraform Init ----
- task: TerraformTask@5
  displayName: Terraform Init
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    backendServiceArm: 'saurabh pipeline service connection'
    backendAzureRmResourceGroupName: 'pipelinerg20'
    backendAzureRmStorageAccountName: 'pipelinestg20'
    backendAzureRmContainerName: 'pipelinecontainer20'
    backendAzureRmKey: 'dev.terraform.tfstate'

# ---- Terraform Plan ----
- task: TerraformTask@5
  displayName: Terraform Plan
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    environmentServiceNameAzureRM: 'saurabh pipeline service connection'

# ---- Terraform Apply (Only for main branch) ----
- task: TerraformTask@5
  displayName: Terraform Apply
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  inputs:
    provider: 'azurerm'
    command: 'apply'
    commandOptions: '-auto-approve'
    workingDirectory: '$(System.DefaultWorkingDirectory)'
    environmentServiceNameAzureRM: 'saurabh pipeline service connection'
