pool: Saliyan

trigger: none

stages:
   - stage: 
     displayName: Build stage
     jobs:
       - job: 
         displayName: terraform install
         steps:
         - task: TerraformInstaller@1
           inputs:
             terraformVersion: 'latest'
         
         - task: TerraformTask@5
           inputs:
             provider: 'azurerm'
             command: 'init'
             workingDirectory: '$(System.DefaultWorkingDirectory)'
             backendServiceArm: 'slc'
             backendAzureRmResourceGroupName: 'rgs'
             backendAzureRmStorageAccountName: 'stg'
             backendAzureRmContainerName: 'container'
             backendAzureRmKey: 'dev.tfstate'

